.header{
    background-color: #3498db;
    height: 60px;
    padding: 10px;
}

.header-title{
    display: block;
    margin: 0;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 30px;
    text-decoration: none;
    color: white;
}