.user-detail{
    margin: 30px;
}

.user-detail img{
    border-radius: 50px;
    background-color: #d3d3d3;
    float: left;
    margin:10px;
}

.user-detail h1{
    padding-top:10px;
    color: #9b59b6;
    text-transform:capitalize;
}

.user-detail h2{
    color: #7f8c8d;
    text-transform:capitalize;
}